<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isesol.bookstore.dao.userMapper">

	<resultMap type="User" id="usermap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="dept" column="dept" />
	</resultMap>
	
	<resultMap type="Dept" id="deptmap">
		<result property="dept" column="dept" />
	</resultMap>

	<select id="getUserList" parameterType="User" resultMap="usermap">

		select id,name,dept from user

		<where>
			<if test="name != '' and name != null">
				and name like #{name}
			</if>
		</where>
	</select>
	
	<select id="getDeptList" parameterType="User" resultMap="deptmap">
			
			select distinct dept from user
			
	</select>

	<insert id="addUser" parameterType="User">
		insert into user
		values(#{id},#{name},#{dept})
	</insert>

	<update id="updateUser" parameterType="User">

		update user
		<set>
			<if test="name != null and name !=''">
				name=#{name},
			</if>
		</set>

		where id=#{id}
	</update>


	<select id="getUser" parameterType="User" resultMap="usermap">

		select *
		from user where id like #{id}
	</select>

	<delete id="deleteUser" parameterType="User">
		delete from user where
		id =
		#{id}
	</delete>

</mapper>
